body { background-color: #F0F0F0; }

.title {
  font-weight: bold;
  text-decoration: underline;
}

.howToPlayButton {
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 6px;
  border: solid 1px black;
}

.spacingLine { font-weight: bold; }

.options {
  display: inline-block;
  margin-top: 3px;
  margin-left: 5px;
}

#play {
  font-weight: bold;
  font-size: 200%;
  border: solid 2px black;
  border-radius: 7px;
}

#smallerOrBigger {
  display: block;
  border: solid 1px black;
  height: 100px;
  width: 300px;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 350%;
  text-align: center;
}

#messages {
  border: solid 1px grey;
  border-radius: 7px;
  height: 150px;
  width: 300px;
  margin-top: 5px;
}

.tryLeft { margin-top: 5px; }

#validNumber { margin-left: 5px; }

#stop {
  margin-top: 5px;
  margin-bottom: 5px;
}

#errorsNbrMaxToFind { color: red; }

#errorsNbrTry { color: red; }

.errors > label { display: block; }

.errorsEnterNumber { color: red; }

.victoryOverlay, .loseOverlay {
  position: absolute;
  z-index: 9999 !important;
  height: 100%;
  width: 100%;
  /*background-color: wheat;*/
  border: solid 1px black;
  border-radius: 10px;
  color: white;
}

.titleVictoryOverlay, .titleLoseOverlay {
  font-size: 500%;
  font-weight: bold;
  text-align: center;
  color: white;
}

#newGame, #newGameLoseOverlay {
  margin-left: 50%;
  height: 100px;
  width: 500px;
  border: solid 1px black;
  border-radius: 100px;
  font-size: 300%;
  font-weight: bold;
}

#victoryResult {
  font-size: 200%;
  margin-left: 10px;
}

.loseOverlayNbrComputer {
  margin-left: 10px;
  font-size: 150%;
}
